/* Styling the Body */
body {
    /*font: 400 15px Trirong,Lato, sans-serif;*/
    font-family: "Trirong", serif;
    /*color: #818181;*/
    line-height: 1.8;
    /* Requires relative positioning: The element with data-bs-spy="scroll" requires the CSS position property, with a value of "relative" to work properly. */
    position: relative;
}


/*  Navbar Section */
.navbar {
    background-color: #0A2647;
    font-size: 20px;
    font-family: "Trirong", serif;
    /*padding-top: 15px;*/
    letter-spacing: 1px;
    margin-bottom: 0;
    /*line-height: 1.42857143;*/
    /*z-index: 9999;*/
}

.navbar li a, .navbar .navbar-brand {
    color: #fff;
}

.navbar-toggler {
  background-color: #fff;
  /*width: 80px;*/
  border-color: transparent;
}

/* Base font size */
/*
.navbar-brand {
  font-size: 1em;
}
*/

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff;
    /*background-color: #43b0f1;*/
    background-color: #c1d3fe;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    /*background-color: #43b0f1;*/
    background-color: #c1d3fe;
}


/* Styles for navbar when scrolling */

/* for screens up to 576 pixels wide */
/*
@media (max-width: 576px) {
    .navbar-brand {
      font-size: 1.1em;
    }
  }
*/

/* Adjusted font size for medium screens */
/*
@media (min-width: 577px) and (max-width: 992px) {
.navbar-brand {
    font-size: 1.2em; 
}
}
*/

/* Adjusted font size for larger screens */
/*
@media (min-width: 993px) {
.navbar-brand {
    font-size: 1.5em; 
}
}
*/

/* ---------------- Styling About Section -------------------------- */
/* About Section */
.my-about-section {
    padding: 40px 0px;
    background-color: #F1F6F9;
    /* margin-top: 60px;*/
}

.my-about-me-row {
  padding: 12px 0;
}

/* Extra Styles to Some Elements */
h2 {
    /*font-size: 24px;*/
    /*text-transform: uppercase;*/
    /*color: #303030;*/
    /*font-weight: 500;*/
}

h4 {
    /*font-size: 19px;*/
    /*line-height: 1.375em;*
    /*color: #303030;*/
    /*font-weight: 400;*/
}


/* ------------ Styling Portfolio Section --------------------------- */
.my-portfolio-section {
  background: #2E8A99;
  padding: 40px 0;
}

.card-img {
  height: 240px; /* Set the desired fixed height for the images */ /* Default height for larger screens */
  object-fit: cover; /* Ensure the image fills the available space */
}

.portfolio-item {
    min-height: 25rem;
}


/* ------------------ Styling Blog Section ------------------------------ */
.my-blog-section {
  background: #84A7A1;
  padding: 40px 0;
}

.carousel .carousel-indicators button {
  position: relative;
  height: 10px;
  width: 60px;
  border-radius: 14px;
  border: none;
}



/* ----------------- Styling Contact Section ------------------------------- */
.my-contact-section {
  background: #F1F6F9;
  padding: 40px;
}

.divider-text {
  border-bottom: 3px solid rgb(255, 13, 13);
  width: 180px;
}

/* Style Contact Me Icons */
.fas  {
  font-size: 18px;
}

/* Style Social Media Icons */
.fab {
  padding: 12px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 3px;
}
.fa-linkedin-in {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #333333;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fab:hover {
  opacity: 0.7;
}
