
body {
  font-family: "Trirong", serif;
  line-height: 1.8;
}

.navbar {
  background-color: #0a2647;
  font-size: 20px;
  font-family: "Trirong", serif;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.navbar li a,
.navbar .navbar-brand {
  color: #fff;
}

.navbar-toggler {
  background-color: #fff;
  border-color: transparent;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #fff;
  background-color: #c1d3fe;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #c1d3fe;
}

/* ---------------- Styling About Section -------------------------- */
/* About Section */
.my-about-section {
  padding: 40px 0px;
  background-color: #f1f6f9;
  /* margin-top: 60px;*/
}

.my-about-me-row {
  padding: 12px 0;
}





/* ------------ Styling Portfolio Section --------------------------- */
.my-portfolio-section {
  background: #2e8a99;
  padding: 40px 0;
}

.card-img {
  height: 240px; /* Set the desired fixed height for the images */ /* Default height for larger screens */
  object-fit: cover; /* Ensure the image fills the available space */
}

.portfolio-item {
  min-height: 25rem;
}

/* ------------------ Styling Blog Section ------------------------------ */
.my-blog-section {
  background: #84a7a1;
  padding: 40px 0;
}

.carousel .carousel-indicators button {
  position: relative;
  height: 10px;
  width: 60px;
  border-radius: 14px;
  border: none;
}

/* ----------------- Styling Contact Section ------------------------------- */
.my-contact-section {
  background: #f1f6f9;
  padding: 40px;
}

footer {
  font-size: 16px;
  background-color: #f1f6f9;
  padding: 20px 0;
}

.social-media-container,
.copyright-container,
.cookier-setting-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.social-media-container > div,
.copyright-container > div,
.cookier-setting-container > div {
  margin: 10px;
  text-align: center;
}

.fa-brands {
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
}

.fa-brands:hover {
  opacity: 0.7;
}

.fa-github,
.fa-x-twitter {
  color: #333333;
}

.fa-hashnode {
  color: #2563eb;
}
