.portfolio-and-blog-section {
    background-color: #DBDFAA;
    margin-top: 100px;
}

.card-img {
  height: 240px; /* Set the desired fixed height for the images */ /* Default height for larger screens */
  object-fit: cover; /* Ensure the image fills the available space */
}


.portfolio-item {
    min-height: 25rem;
}