

.contact-section {
    background-color: #f0ead2;
}


/*
.social-media {
    padding: 20px;
    text-align: center;
    margin: 15px;
    margin-top: 75px;
    right: 0px;
  }
  */
/*
.social-connect {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}
.social-media {
    font-size: 36px;
    text-decoration: none;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-github {
    background: #000;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

.underline {
  border-bottom: 4px solid #809bce;
  width: 200px;
  margin: 10px;
}